<%- include ('../partials/head') %> 
    <%- include ('../partials/navbar') %>
    <main class="container mt-3">
        <section class="row m-2">
            <div class="col-12 col-lg-5">
                <div class="card-title text-light border border-light rounded bg-tomato">
                    <h3 class="p-1">New Task</h3>
                </div>
                <form action="">
                    <input class="form-control mb-1" type="text" name="title" id="" placeholder="Write the new task title">
                    <textarea class="form-control mb-1" name="" id="" cols="30" rows="5" placeholder="Write the task description"></textarea>
                    <button class="btn border border-light bg-tomato btn-block text-white" type="submit">Save</button>
                </form>
            </div>
            <div class="col-12 col-lg-7">
                <div class="card-title text-light border border-light rounded bg-tomato mt-4 mt-md-0">
                    <h3 class="p-1">Task List</h3>
                </div>
                <article class="d-flex p-1 rounded justify-content-between mt-2 bg-light">
                    <h4>Correr</h4>
                    <div class="d-flex justify-content-around">
                        <div>
                            <form action="">
                                <button type="submit">
                                    <i class="fas fa-check-square"></i>
                                </button>
                            </form>
                        </div>
                        <div>
                            <form action="">
                                <button type="submit">
                                    <i class="fas fa-pen-square"></i>
                                </button>
                            </form>
                        </div>
                        <div>
                            <form action="">
                                <button type="submit">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </section>        
    </main> 

<%- include ('../partials/footer') %> 
