<nav class="navbar navbar-dark" id="navbar">
    <div class="container justify-content-end">
        <ul class="navbar-nav">
            <% if (user) { %>
            <li class="nav-item active">
                <div class="dropdown">
                    <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= user.firstName %></a>
                    <div class="dropdown-menu position-absolute" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item signOutBtn" href="/users/logOut">Sign Out</a>
                    </div>
                </div>
            </li>
            <% } else { %>
            <li class="nav-item active">
                <a class="nav-link" data-toggle="modal" href="#login-modal">Login</a>
            </li>
            <% }%>
        </ul>
    </div>
    <!-- Login Modal -->
    <div id="login-modal" class="modal fade login-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content modal-width">
                <div class="modal-body">
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="signInForm" class="mt-4" action="/users/signIn" method="POST">
                        <div class="text-tomato">
                            <label for="userOrEmail">User or Email</label>
                        </div>
                        <div class="text-danger modal-text-error" id="userOrEmailError"></div>
                        <div>
                            <input class="form-control" type="text" name="userOrEmail">
                        </div>
                        <div class="text-tomato">
                            <label for="signInPassword">Password</label>
                        </div>
                        <div class="text-danger modal-text-error" id="signInPasswordError"></div>
                        <div>
                            <input class="form-control" type="password" name="signInPassword">
                        </div>
                        <div>
                            <input type="checkbox" name="rememberme">
                            <label for="rememberme">Remember me</label>
                        </div>
                        <div class="mt-4">
                            <button class="btn-block bg-tomato text-light border-tomato" type="submit">Sign In</button>
                            <button class="btn-block bg-tomato text-light border-tomato" type="button" data-toggle="modal" data-target="#register-modal">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Register modal -->
    <div id="register-modal" class="modal fade login-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content modal-width">
                <div class="modal-body">
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="mt-4 signUpForm" action="/users/signUp" method="POST">
                        <div class="text-tomato">
                            <label for="userName">User name</label>
                        </div>
                        <div class="text-danger modal-text-error" id="userNameError"></div>
                        <div>
                            <input class="form-control" type="text" name="userName">
                        </div>
                        <div class="text-tomato">
                            <label for="firstName">First name</label>
                        </div>
                        <div class="text-danger modal-text-error" id="firstNameError"></div>
                        <div>
                            <input class="form-control" type="text" name="firstName">
                        </div>
                        <div class="text-tomato">
                            <label for="lastName">Last name</label>
                        </div>
                        <div class="text-danger modal-text-error" id="lastNameError"></div>
                        <div>
                            <input class="form-control" type="text" name="lastName">
                        </div>
                        <div class="text-tomato">
                            <label for="email">Email</label>
                        </div>
                        <div class="text-danger modal-text-error" id="emailError"></div>
                        <div>
                            <input class="form-control" type="text" name="email">
                        </div>
                        <div class="text-tomato">
                            <label for="password">Password</label>
                        </div>
                        <div class="text-danger modal-text-error" id="passwordError"></div>
                        <div>
                            <input class="form-control" type="password" name="password">
                        </div>
                        <div class="text-tomato">
                            <label for="password">Confirm password</label>
                        </div>
                        <div class="text-danger modal-text-error" id="confirmPasswordError"></div>
                        <div>
                            <input class="form-control" type="password" name="confirmPassword">
                        </div>
                        <div class="mt-4">
                            <button class="btn-block bg-tomato text-light border-tomato" type="submit">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>